---
const blog = [{ title: "my life" }, {title: "my life2"}, {title: "my life 3"}]
const {posts} = Astro.props;
---
<h1>blog</h1>
<!--jsx -->
{posts.map((post, i) => <li class={i === 0 ? "first" : ""}><h3>{post.title}</h3><a href="/page">...more</a></li>)}